## PRACTICE EXERCISE

**Objective:**
Practice performing CRUD operations (Create, Read, Update, Delete) on a database table.

**Perform the following tasks:**
1. Create a new table named `Books`, with the following columns:
  * BookID (Primary Key, Auto-increment)
  * Title (Title of the book)
  * Author (Author of the book)
  * Genre (Genre of the book)
  * Publication_Year (Year of publication)
  * Price (Price of the Book)
2. Insert at least 3 new books into the `Books` table.
3. Retrieve all books from the Books table.
4. Update the price of a specific book.
5. Delete a book from the table.