In [1]:
# Python Essentials

# This is an inline comment.

"""
This is for creating
multi-line comments.
It's enclosed in triple quotes.
"""

"\nThis is for creating\nmulti-line comments.\nIt's enclosed in triple quotes.\n"

In [2]:
# Printing
print("Hello, World!")

Hello, World!

### Python Variables

**Creating Variables**

Creating a variable in Python is simple. You assign a value to a variable name and start using it. Python figures out the variable type automatically.

**Variable Naming Rules**
- Variable names can contain letters (both uppercase and lowercase), digits, and underscores.
- They must begin with a letter or an underscore (_), but not with a digit.
- Case sensitive (myVar and myvar are different variables)
- Python keywords cannot be used as variable names.

In [3]:
# Variables
x = 10
print(x)

10

In [4]:
# Avoid this! (Reserved Keyword/Function)
# print = 10
# print(print)

In [5]:
_my_number = 22
print(_my_number)

22

In [6]:
# Things to Avoid
# x - 2 = 10
# True = 5
# 2 = 5

## Data Types

#### Numeric Types

**int** - Integer values, such as `5`, `-3`, `1000`, etc.

**float**: Floating-point values, representing decimal numbers, such as `3.14`, `-0.001`, `2.0`, etc.

In [9]:
# int
integer_number = 5
negative_int = -20

print(integer_number, negative_int)
print('Type of integer_number:', type(integer_number))

5 -20
Type of integer_number: <class 'int'>

In [ ]:
# float
float_number = 2.14
negative_float = -20.55

print(float_number, negative_float)
print('Type of float_number', type(float_number))

2.14 -20.55
Type of float_number <class 'float'>

## Sequence Types

1. **String**: String values, representing text or characters, such as 'hello', "world", '123', etc.
2. **Lists**: Lists are used when you need a collection of elements that can be modified or reordered. They are suitable for sequences of items of the same type or different types.
3. **Tuple**: Tuples are used when you want to store a fixed collection of elements that should not be changed. They are often used for immutable sequences, such as coordinates, database records, or function return values.
4. **Dictionaries**:  Dictionaries are used when you need to associate keys with values for efficient lookup. They are suitable for representing data with key-value relationships, such as mappings, configurations, or database records indexed by unique keys.

In [12]:
str1 = "Hello World!"
str2 = "Hello to the world of Python!"
user = "user123"

print(str1, str2, user)

# String Indexing
print(str1[0]) # First Character of the String
print(str1[-1]) # Last Character

Hello World! Hello to the world of Python! user123
H
!

In [16]:
# Lists
numbers = [1, 2, 3, 4, 5] # A list of integers
names = ['Alice', 'Bob', 'Charlie'] # A list of strings
numbers_and_strings = [21, 'Test', -300.2]

print(numbers)
print(names)
print(numbers_and_strings)

# List Indexing
numbers[0] = 21
print(numbers[0]) # First value in the numbers list

[1, 2, 3, 4, 5]
['Alice', 'Bob', 'Charlie']
[21, 'Test', -300.2]
21

In [17]:
# Tuples
tuple_values = (1, 'hello', 3.14)
print(tuple_values)

(1, 'hello', 3.14)

In [18]:
tuple_values[0] = 2
print(tuple_values)

TypeError: 'tuple' object does not support item assignment

In [23]:
# List and Tuples
nested_list_and_tuple = [20, (10, "Hello")]
print(nested_list_and_tuple)

# Assignment
nested_list_and_tuple[0] = 30
# nested_list_and_tuple[1][0] = 20

# Indexing in a nested tuple
print(nested_list_and_tuple[1][0])

[20, (10, 'Hello')]
10

# Day 03 - Data Analytics

In [2]:
# Dictionaries

person = {
    'name': 'Billy',
    'age': 24
}

print(person['name'])
print(type(person))

Billy
<class 'dict'>

### Boolean Type:

**bool**: Boolean values representing True or False.

In [4]:
is_valid = True
is_admin = False
print(is_valid)
print(is_admin)
print(type(is_valid))

True
False
<class 'bool'>

**Dynamic Typing**

Variables can change type after they have been set. This is known as dynamic typing.

In [7]:
my_var = 10
print(type(my_var))

my_var = "Test String!"
print(type(my_var))

my_var = 1.2
print(type(my_var))

<class 'int'>
<class 'str'>
<class 'float'>

## Python Operators and Expressions

### Arithmetic Operators

In [15]:
# Addition (+)
print("Addition:", 5 + 10)

# Subtraction (-)
print("Subtraction:", 5 - 10)

# Multiplication (*)
print("Multiplication:", 5 * 10)

# Division (/)
print("Division:", 5 / 10)

# Modulus (%)
print("Modulus:", 23 % 7) # 23 / 7 = 3 r 2
print("Is it even?", 22 % 2) # = 0
print("Is it even?", 23 % 2) # = 1

# Exponentiation (**)
print("Exponentiation:", 10 ** 3) # 10^3

Addition: 15
Subtraction: -5
Multiplication: 50
Division: 0.5
Modulus: 2
Is it even? 0
Is it even? 1
Exponentiation: 1000

In [16]:
# PEMDAS / BODMAS
print(10 + 8 / 4 * 2 - 5)

9.0

### Comparison Operators

In [26]:
x = 10
y = 5

# Equal to
result = x == y
print(result)

# Not equal to
result = x != y
print(result)

# Greater than
result = x > y
print(result)

# Less than
result = x < y
print(result)

# Greater than or equal to
result = x >= y
print(result)

# Less than or equal to
result = x <= y
print(result)

str1 = "Hello"
str2 = "Goodbye"

# Equal to
result = str1 == str2
print(result)

False
True
True
False
True
False
False
True

### Logical Operators

In [31]:
x = 10
y = 5

# AND (both are true == true)
result = (x > 5) and (y < 10)
print(result)

# OR (at least one is true == true)
result = (x > 5) or (y < 3)
print(result)

# NOT (opposite of a statement/boolean)
result = not (x == 10)
print(result)

True
True
False

### Assignment Operators

In [37]:
# Single equals sign
x = 10

# Addition Assignment
x += 5 # x = x + 5
print(x) # 15

# Subtraction Assignment
x -= 5 # x = x - 5
print(x) # 10

# Multiplication Assignment
x *= 5 # x = x * 5
print(x) # 50

# Division Assignment
x /= 5 # x = x / 5
print(x) # 10

15
10
50
10

### Type Coercion or Type Conversion

In [48]:
x = 10 # int

# converting to float
x = float(x)

print(x)
print(type(x))

# converting to string
x = 10.23
x = str(x)

print(x)
print(type(x))

# cant convert string to int if there are decimal places or an error will happen

# converting to float
x = float(x)

print(x)
print(type(x))

# converting to int (will remove decimal places)
x = int(x)

print(x)
print(type(x))

# round
x = 3.1415
print(round(x, 2))
print(round(x))

10.0
<class 'float'>
10.23
<class 'str'>
10.23
<class 'float'>
10
<class 'int'>
3.14
3

## String Methods

In [54]:
my_string = "Hello, Python!"
print(my_string)
print(len(my_string))

first_letter = my_string[0]
print(first_letter)

slice_string = my_string[0:5]
print(slice_string)

my_text = "Reverse this string!"
# starting point : ending point : increment/traversal method
reversed_string = my_text[::-1]
print(reversed_string)

Hello, Python!
14
H
Hello
!gnirts siht esreveR

In [64]:
sample_string = "data analytics course"

# capitalize
print(sample_string.capitalize())

# title
print(sample_string.title())

# find (returns starting index of target word)
print(sample_string.find("analytics"))
print(sample_string.find("science")) # word not found == -1

# in (if it contains target word)
print("data" in sample_string)
print("programming" in sample_string)

# replace
print(sample_string.replace("data", "information"))

# combining methods
print(sample_string.replace("data", "information").title())

# lower/upper
print(sample_string.upper())
print(sample_string.lower())

Data analytics course
Data Analytics Course
5
-1
True
False
information analytics course
Information Analytics Course
DATA ANALYTICS COURSE
data analytics course

In [72]:
text = "the quick brown fox jumps over the lazy dog"

# count (gets instances of a target in a string)
print(text.count("the"))

messy_string = "   Data Analyst - Junior    "

# strip (removing leading and trailing whitespaces)
clean_string = messy_string.strip()
print(clean_string)

# split (separate your string into groups depending on a target string)
sentence = "Python,is,fun,to,learn"
words = sentence.split(",")
print("Words:", words)

2
Data Analyst - Junior
Words: ['Python', 'is', 'fun', 'to', 'learn']

## Concatenation, f-strings and .format()

In [79]:
# Concatenation
first_name = "Vinson"
last_name = "Chua"

full_name = first_name + " " + last_name
print(full_name)

# f-strings
job_1 = "Data"
job_2 = "Analyst"

print(f"My job title is {job_1} {job_2}.")

print(f"{words[0]} {words[1]} {words[2]} {words[3]} {words[4]}.")

# .format()
sql_str = """
SELECT * FROM table1
WHERE
x in ({x})
"""

print(sql_str.format(x=first_name))

Vinson Chua
My job title is Data Analyst.
Python is fun to learn.

SELECT * FROM table1
WHERE
x in (Vinson)

## List Methods

In [90]:
# Creating a List
my_list = ["Python", "Java", "C++"]
print(my_list)

# Adding/Appending a new item to the end of a list
my_list.append("PHP")
print(my_list)

# Insert an item at a specific position
my_list.insert(2, "Ruby")
print(my_list)

# Remove element at end of list
my_list.pop()
print(my_list)

# Remove by value
my_list.remove("C++")
print(my_list)

# Remove by index
del my_list[1]
print(my_list)

['Python', 'Java', 'C++']
['Python', 'Java', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++']
['Python', 'Java', 'Ruby']
['Python', 'Ruby']

In [92]:
# list slicing
list_data = [1, 2, 3, 4, 5]

# starting point : ending point : increment/traversal method
list_data[3:] # 4, 5
list_data[3::-1] # 4, 3, 2, 1

[4, 3, 2, 1]

In [96]:
# list extending
list_a = [1, 2, 3]
list_b = ["a", "b", True]

# combining two lists together
print(list_a + list_b)

# extending a list with another list
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 'a', 'b', True]
[1, 2, 3, 'a', 'b', True]

In [100]:
# sort
list_data = [3,4,1,8,9,10,8]
list_data[2] = 16
list_data.sort()
print(list_data)

# Descending order
list_data.sort(reverse=True)
print(list_data)

list_data = ["Aaron", "Michael", "Dave", "Ava"]
list_data.sort()
print(list_data)

[3, 4, 8, 8, 9, 10, 16]
[16, 10, 9, 8, 8, 4, 3]
['Aaron', 'Ava', 'Dave', 'Michael']

## Tuple Methods

In [108]:
# Creating a tuple
tuple_data = (1, 2, 3, 4, 5)
print(tuple_data)

# tuple_data 
nested_list_tuple = ([1, 2], [3, 4], [5, 6])
nested_list_tuple[0][1] = 30
# nested_list_tuple[0] = 30
print(nested_list_tuple)

# Using operations on tuples

# Combining Tuples
tuple_data = (1, 2) + (3, 4)
print(tuple_data)

# Duplicating Tuples in one tuple
tuple_data = (1, 2) * 3
print(tuple_data)

(1, 2, 3, 4, 5)
([1, 30], [3, 4], [5, 6])
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [112]:
tuple_data = (1, 2, 3, 4, 5) + (1, 2, 3, 4, 5)

# Find an index of a certain value in your tuple (first occurence)
print(tuple_data.index(4))

# How many times a certain value is in your tuple
print(tuple_data.count(4))

3
2

## Dictionary Methods

In [119]:
dict_data = {
    "name": "Jared",
    "age": 23,
    "address": "Antartica"
}

# Indexing Method
print(dict_data["name"])

# get method
print(dict_data.get("address"))

# Remove key-value pairs
del dict_data["age"]
print(dict_data)

# List the keys of a dictionary
print(dict_data.keys())

# List the values of a dictionary
print(dict_data.values())

# Get key-value pairs
print(dict_data.items())

Jared
Antartica
{'name': 'Jared', 'address': 'Antartica'}
dict_keys(['name', 'address'])
dict_values(['Jared', 'Antartica'])
dict_items([('name', 'Jared'), ('address', 'Antartica')])

In [120]:
dict_data1 = {"a": 1, "b": 2, "c": 3}
dict_data2 = {"c": 200, "d": 4, "e": 6}

# update (update/merge two dictionaries together)
dict_data1.update(dict_data2)
print(dict_data1)

{'a': 1, 'b': 2, 'c': 200, 'd': 4, 'e': 6}

**Getting a Dictionary of Keys and Default Values**

In [125]:
keys = ['a', 'b', 'c']
default_value = 0

# generate a dictionary with a list of keys and a default value
dict_data3 = dict.fromkeys(keys, default_value)

# setting new values for keys
dict_data3['a'] = 1
dict_data3['b'] = 2
print(dict_data3)

{'a': 1, 'b': 2, 'c': 0}

# Control Flows and Statements

In [144]:
# Conditional Statements

# if/else
temperature = 29

if temperature >= 40:
    print("It's pretty hot.")
elif temperature >= 30:
    print("It's not as hot as before.")
else:
    print("Wow, it's not hot.")

# match/case
day = "Wednesday"

match day:
    case "Monday":
        print("It's the start of the week.")
    case "Friday":
        print("It's the weekend!")
    case _:
        print("It's a regular day.")

# Looping Statements

# While
count = 0

while (count < 3):
    print(count)
    count = count + 1
else:
    print("While loop is done!")

# For

# range(number of times to repeat statement)
for i in range(10):
    print(i)

# range(starting value, ending value)
for i in range(1, 6):
    print(i)

# iterable values (lists, tuples, strings, etc.)

# looping through lists
list_data = [1, 2, 3, 4, 5]
# for i in list_data:
#     print("List data: ", i)

# printing horizontally
list_str = ""
for i in list_data:
    list_str += f"{i} "

print(list_str)

# looping through strings
str4 = "test"
for i in str4:
    print(i)

# EXAMPLE FROM BEFORE (words[])
words_str = ""

for i in words:
    words_str += f"{i} "

print(words_str)

# Functions

Wow, it's not hot.
It's a regular day.
0
1
2
While loop is done!
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
1 2 3 4 5
t
e
s
t
Python is fun to learn .

## Python Functions

- Groups code together into a block.
- Allows us to call and reuse code efficently.
- It could take in information (parameters) and return information (return statement) to the caller.

In [3]:
# no parameters
def my_function():
    print("Hello, World!")

# calling a function
my_function()
my_function()
my_function()
my_function()

Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [7]:
# parameters and arguments
def name_function(fname):
    print(f"Hello, {fname}.")

name_function("Faith")

# multiple parameters and arguments
def full_name(fname, lname):
    print(f"{fname} {lname}")

full_name("Alison", "Estrella")

Hello, Faith.
Alison Estrella

In [9]:
# Arbitrary Arguments (*args)
def list_function(*kids):
    for i in kids:
        print(i)

list_function("Alberto", "Theresa", "Emmanuel", "Gregorio")

Alberto
Theresa
Emmanuel
Gregorio

In [12]:
# Keyword Arguments
def fruit_function(fruit3, fruit2, fruit1):
    print(fruit1)
    print(fruit2)
    print(fruit3)

fruit_function(fruit1="Banana", fruit2="Grapes", fruit3="Apple")

# Arbitrary Keyword Arguments (**kwargs)
# use pass to make placeholder functions
def person_function(**details):
    print(f"The person's name is {details["fname"]} {details["lname"]}. He is {details["age"]} years old.")

person_function(fname="Edmund", lname="Teleron", age=25)

Banana
Grapes
Apple
The person's name is Edmund Teleron. He is 25 years old.

In [13]:
# (parameters, *args, **kwargs)
# Arbitrary Keyword Arguments (**kwargs)
# use pass to make placeholder functions
def person_function(**details):
    print(f"The person's name is {details["fname"]} {details["lname"]}. He is {details["age"]} years old.")
person_function(fname="Edmund", lname="Teleron", age=25)

The person's name is Edmund Teleron. He is 25 years old.